

<div class="top-bar-wrapper">
    <div class="container">
        <div class="top-bar">

            <div class="user-related">

                <div class="user-related__auth">
                    <a class="user-related__auth-link"
                        [routerLink]="['/register']">
                        Rejestracja
                    </a>
                    /
                    <a class="user-related__auth-link"
                        [routerLink]="['/login']">
                        Logowanie
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>
