
// bootstrap tooltip
.bs-tooltip-top .arrow,
.bs-tooltip-auto[x-placement^="top"] .arrow {
    left: calc(50% - 0.4rem);
}

// button with svg icon
.btn {
    cursor: pointer;

    .icon {
        height: 24px;
        width: 24px;
        vertical-align: -6px;
        fill: currentColor;
    }

    // small button
    &.btn-sm {
        .icon {
            height: 20px;
            width: 20px;
            vertical-align: -5px;
        }
    }
}


// IE10
input.form-control {
    line-height: 1;
}


//
input.form-control-lg {
    height: 100%;
}


// < MD
@include media-breakpoint-down(sm)
{
    .container {
        padding-right: 40px;
        padding-left: 40px;
        max-width: inherit;
    }
}

// < SM
@include media-breakpoint-down(xs)
{
    .container {
        padding-right: 20px;
        padding-left: 20px;
    }
}


// logo in svg format
.brand-img {
    height: 50px;
    width: 200px;

    &__text {
        fill: $color-white;
        font-size: 24px;
        font-weight: bold;
    }

    &__do {
        fill: $color-blue-light;
    }

    // < MD
    @include media-breakpoint-down(sm) {
        height: 40px;
        width: 160px;
    }

    // < sm
    @include media-breakpoint-down(xs) {
        height: 30px;
        width: 120px;
    }
}



.modal {
    &-header {
        padding-bottom: 0;
        border: none;
    }

    &-body {
        &::before {
            content: "";
            background-color: $color-blue-light;
            display: block;
            width: 25px;
            height: 5px;
            margin-bottom: 20px;
        }
    }
}
