<section class="container vertical-spacing">
    <div class="row">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">

            <form class="auth-form" (ngSubmit)="onSubmit(f)" #f="ngForm">

                <h1 class="heading heading--md heading--separator">
                    Utworzenie nowego hasła
                </h1>


                <!-- form -->
                <ng-container *ngIf="!mailSent">

                    <!-- BE messages  -->
                    <!-- <app-notifications aria-live="polite"></app-notifications> -->

                    <p>
                        Podaj adres email, a następnie sprawdź swoją skrzynkę pocztową, na 
                        którą wyślemy do Ciebie link do formularza utworzenia nowego hasła
                    </p>

                    <!-- EMAIL -->
                    <div class="form-group"
                        [ngClass]="{'form-group-invalid': !email.valid && email.touched}">
                        <label for="email">E-mail</label>
                        <input type="email" class="form-control" id="email"
                            placeholder="Wprowadź email"
                            ngModel
                            name="email"
                            required
                            email
                            #email="ngModel"
                            [attr.aria-describedby]="'email_error'"
                            [attr.aria-invalid]="!email.valid && email.touched">

                        <small class="form-text text-danger" role="alert" id="email_error"
                            *ngIf="!email.valid && email.touched"
                            @toggleVertically>
                            e-mail jest wymagany i musi być poprawny
                        </small>
                    </div>

                    <!-- Submit form -->
                    <div class="form-check clearfix">
                        <!-- fake button to indicate 'disabled' state -->
                        <button type="button" class="btn btn-secondary disabled" *ngIf="!f.valid"
                            aria-describedby="backend_notifications email_error"
                            [attr.aria-disabled]="!f.valid || isSubmitDisabled">
                            Wyślij
                        </button>


                        <!-- Submit form -->
                        <button type="submit" class="btn btn-primary" *ngIf="f.valid">
                            Wyślij
                        </button>
                    </div>
                </ng-container>


                <!-- success message -->
                <p class="alert alert-success" role="alert" aria-live="polite" *ngIf="mailSent">
                    Na Twój adres e-mail został wysłany link do formularza utworzenia 
                    nowego hasła. Proszę sprawdzić również folder SPAM.
                </p>

            </form>

        </div>
    </div>
</section>
    